#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
 
  .ant-layout{
    height: 100%;
  }
  .ant-layout-header{
    height: 100px;
    display: flex;
    align-items: center;
    background: #abcdef;
  }
  .admin-logo{
    width: 115px;
    height: 90px;
  }
  .admin-title{
    margin-left: 15px;
  }
  .admin-title h1{
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
  }
  .admin-title p{
    line-height: 0;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
  }

  .ant-layout-content{
    min-height: auto;
  }